body{
	background-color:white !important;
	}


#code{
font-size: 12px;
}	
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; font-size:12px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.nav-left{
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-left-a{
	display: block;
    font-weight: bold;
    color: black;
    
    background: -webkit-linear-gradient(top, #c8c8c8 , #989898); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #c8c8c8 , #989898); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #c8c8c8 , #989898); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, #c8c8c8 , #989898); /* Standard syntax (must be last) */

    width: 80px;
    height:60px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
	border: 2px solid;
    border-radius: 10px;
    box-shadow: 3px 3px 1px #888888;
    }

    
    
.home{
background-image:url('images/redhome.png');
background-repeat:no-repeat;
height:400px; 
width:450px;
background-position: 0 0;
background-size: 450px 400px;
}
    
.laptop{
background-image:url('images/laptop.jpg');
background-repeat:no-repeat;
height:400px; 
width:450px;
background-position: 0 0;
background-size: 280px 280px;
}
.nav-left-a:hover, .nav-left-a:active {
 /*   background-color: #fbf6d9;
    color:black; */
    background: -webkit-linear-gradient(top, #c8c8c8 , #b0b0b0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #c8c8c8 , #b0b0b0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #c8c8c8 , #b0b0b0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, #c8c8c8 , #b0b0b0); /* Standard syntax (must be last) */

}

#buttonsub{
border-radius:5px;
}

.take-control{
	font-size:150%;
	color: red;
	text-align:left;
	font-weight:bold;

	}

#light_img {height:45px;width:40px; position:absolute; top: 200px; left: 160px;  } 
#door_img { height:70px;width:50px;position:absolute; top: 310px; left: 150px; } 
#music_img { height:50px;width:50px;position:absolute; top: 190px; left: 270px; } 
#garage_img { height:60px;width:95px;position:absolute; top: 320px; left: 260px; } 

#light_icon {height:35px;width:30px; position:absolute; top: 70px; left: 100px;  } 
#door_icon { height:50px;width:50px;position:absolute; top: 120px; left: 90px; } 
#music_icon { height:30px;width:30px;position:absolute; top: 70px; left: 170px; } 
#garage_icon { height:30px;width:30px;position:absolute; top: 130px; left:170px; } 
